.hero {
    margin-bottom: 3rem;
}
  
.name-display {
    font-size: 2rem;
    width: 30%;
    color: hsl(203, 92%, 42%);
    font-weight: 600;
}

.sprite-img {
    width: clamp(3rem, 15vw, 10rem);
}

.col2-info {
    font-size: 2rem;
}